body{
    background-image: url(../img/contact/body-background.jpg);
}

#form{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

#form > div > textarea{
    height: 200px;
    resize: none;
}