#titulo-fixo {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.navbar-nav {
    font-size: 20px;
}


.carousel .item {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
}

.carousel .one {
    background-image: url(../img/home/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: grayscale(1);
}

.carousel .two {
    background-image: url(../img/home/img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: grayscale(1);
}

.carousel .three {
    background-image: url(../img/home/img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: grayscale(1);
}

.organizacao-eventos {
    width: 350px;
}

.organizacao-eventos i {
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 200px;

    transition: ease-in-out 0.2s;

    border-style: solid;
    border-width: 15px;
    border-radius: 50%;
    border-color: rgb(165, 165, 165);
}

.organizacao-eventos i:hover {
    transform: scale(1.05);
}

.organizacao-eventos h5 {
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}

.organizacao-eventos hr {
    width: 100%;
    height: 2px;
    border: none;
}

.background-red {
    background-color: rgb(243, 60, 60);
}

.background-green {
    background-color: rgb(101, 230, 101);
}

.background-blue {
    background-color: rgb(64, 124, 255);
}

.background-gold {
    background-color: rgb(255, 228, 75);
}

.border-red:hover {
    border-color: rgb(243, 60, 60);
}

.border-green:hover {
    border-color: rgb(101, 230, 101);
}

.border-blue:hover {
    border-color: rgb(64, 124, 255);
}

.border-gold:hover {
    border-color: rgb(255, 228, 75);
}

#conheca-even {
    display: block;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#conheca-even span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

footer {
    text-align: center;
}

footer i {
    font-size: 45px;
}


.titulo {
    text-align: center;
}

.rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact div {
    width: 150px;
}

@media (max-width: 1400px) {
    .organizacao-eventos {
        width: 250px;
    }

    .organizacao-eventos i {
        font-size: 100px;
        width: 200px;
        height: 200px;
    }
}